@page "/posts/{id}"
@inject ReBrunchV1.Client.Services.IBlogPostService BlogPostService
@using ReBrunchV1.Shared

@if(CurrentPost == null)
{
    <span>Getting that BlogPost from the service...</span>
}
else
{
    <h3>@CurrentPost.Title</h3>   
}

@code {
    private ReBrunchV1.Shared.BlogPost CurrentPost;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentPost = await BlogPostService.GetBlogPostById(Id);
    }
}
